# Ignore everything
*

# Except
!.bashrc
!.config
.config/*
!.config/hypr
!.config/waybar
!.config/nvim
!.config/alacritty
!dev-environments
!dev-environments/*

!install.sh
!install-flatpaks.sh
!.gitignore
